
		<container>
			<div class="row">
				<div class="col-md-8">
					<img id="image" src="/img/logo.png">
				</div>
			</div>
			<div class = "head">
				<h1>Fikri Bit.ly</h1>
				<h4>Short link generator</h4>
			</div>
			<div class="row" >
			  <div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
			    <form action="/urls" method="post">
			      <div class="form-group">
			        <h4 id="label" for="long_url"> Enter Url Here:</h4>
			        <input type="text" id="long_url" name="long_url" class="form-control" placeholder="Please enter URL">
			      </div>
			      <div class="form-group">
			        <input class="form-control btn-success" type="submit" value="Submit">
			      </div>
			    </form>
			  </div>
			</div>
 				
 			</div>
 			<div class="table-responsive">
 				<table class="table">
				    <thead>
				      <tr>
				      	<th id="header-table">No.</th>
				        <th id="header-table">Short Link</th>
				        <th id="header-table">Site</th>
				        <th id="header-table">Visit count</th>
				      </tr>
				    </thead>
				    <% @urls.each_with_index do |url, index|%>
						<tr class="tr-content">
							<td id="url"><%= index + 1 %>.</td>
							<td><a id="url" href="http://localhost:9393/<%= url.short_url%>" target="_blank">http://Fikri.ly/<%= url.short_url%></a></td>
							<td id="url"><%= url.long_url%></td>
							<td id="url"><%= url.counter%></td>
						</tr>
					<%end%>
				</table>
 			</div>	
 		</container>



